nav{
  background: #0000;
  display: inline;
}
/*div{
  background: #ccc;
  position: inline;
}
div {
  background: #4D8CF4;
  padding: 5px 0 5px 10px;
}*/
input {
  width: 80px;
  height: 40px;
  background: #282923;
}
input: onFocus {
  background: #f4f4;
  color: black;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}